:root {
    --color-gray:rgba(157, 164, 189, 0.6);
    --main-color: #8E4BD9;
}

/* *{
    margin: 0;
    padding: 0;
} */
body {
    font-family: "Open Sans", Sans-serif;
}
.title {
color: red;
}
.header {
color: white;
background-color: yellowgreen;
}
.header a{
    text-decoration: none;
}
.list {
    list-style: none;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
}

input {
    padding: 8px;
    font-family: inherit;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.header-nav-link {
    text-decoration: none;
    color: white;
}

/*line-height/font-size*/
.header-nav-link:hover
.header-nav-link:focus {
    color: #FF6C00;
}
h1, 
h2, 
h3, 
h4 {
    margin: 0;
}
ul {
    list-style: none;
}
.header-contacts {
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
}
.button {
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
}
.uptitle {
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        color: var(--color-gray);
}
.command-list {
    display: flex;
    justify-content: space-between;
}
input {
    padding: 8px;
    font-family: inherit;
    display: inline-flex;
    margin-left: 12px;
}

label {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

}