body {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

p {
  overflow-wrap: anywhere;
}


select {
    padding: 4px;
}
input {
    width: 100%;
    max-width: 320px;
    padding: 8px;
    margin: 20px;
    font: inherit;
    letter-spacing: inherit;
    display: flex;
}